* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/gilroy-regular.ttf");
}

@font-face {
    font-family: GilroyExtrabold;
    src: url("../fonts/gilroy-extrabold.ttf");
}

@font-face {
    font-family: GilroyMedium;
    src: url("../fonts/gilroy-medium.ttf");
}

@font-face {
    font-family: GilroyBolt;
    src: url("../fonts/gilroy-bold.ttf");
}

@font-face {
    font-family: Tavolga;
    src: url("../fonts/tavolga-free (3).ttf");
}

.header {
    background-color: #eba8b1;
    padding: 36px 0 29px 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 233px;
}

.phone {
    margin-left: 329px;
    font-size: 16px;
    font-family: GilroyBold, sans-serif;
    color: rgb(255, 255, 255);
}

.menu {

}

.menu ul {
    list-style: none;
    display: flex;
    width: 313px;
    justify-content: space-between;
}

.menu-item a {
    text-decoration: none;
    font-size: 14px;
    font-family: GilroyMedium, sans-serif;
    color: rgb(119, 11, 29);
}

.menu-item a:hover {
    border-bottom: 2px solid #770B1DFF;
    padding-bottom: 3px;
}

.main {
    background-color: #eba8b1;
    overflow: hidden;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-info h1 {
    font-size: 55px;
    font-family: Tavolga, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.091;
    padding-top: 143px;
}

.main-text {
    font-size: 18px;
    font-family: Tavolga, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.389;
    padding: 60px 0 80px 0;
    max-width: 347px;
}

.main-action {
    padding-bottom: 145px;
}

.main-image {
    position: relative;

}

.main-image img {
    position: relative;
    z-index: 1;
}

.btn {
    background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    width: 240px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 22px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Gilroy Bold, sans-serif;
    color: rgb(255, 255, 255);
}

.btn:hover {
    box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.advantages {
    background-color: #ffefef;
    padding: 119px 0 120px 0;
}

.advantages-info {
    display: grid;
    grid-column-gap: 149px;
    grid-template-columns: 1fr 1fr;
}

.advantages-image {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    position: relative;

}

.advantages-image img {
    position: absolute;
    bottom: 35px;
    left: 0;
}

.advantages h2 {
    font-size: 45px;
    font-family: Tavolga, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.222;
    margin-bottom: 60px;
    max-width: 473px;
}

.advantages-text {
    font-size: 18px;
    font-family: Gilroy, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.556;
    max-width: 400px;
    margin-bottom: 44px;
}

.advantages-descriptions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 44px;
    gap: 0 45px;

}

.advantages-description-title {
    font-size: 20px;
    font-family: GilroyExtraBold, sans-serif;
    color: rgb(51, 25, 7);
    vertical-align: center;
}

.advantages-description-description {
    font-size: 15px;
    font-family: GilroyMedium, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.333;
    margin-top: 19px;
    text-align: left;
}

.advantages-description-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(130, 19, 40);
    color: #ffefef;
    font-size: 60px;
    font-family: GilroyExtrabold, sans-serif;
    text-align: center;
    padding: 13px 17px 0 16px;
    box-sizing: border-box;
    margin-bottom: 13px;
}

.advantages-description-image:hover {
    background-color: rgb(235, 168, 177);
    color: rgb(130, 19, 40);

}

.macaroons {
    background-color: #eba8b1;
    padding: 120px 0 120px 0;

}

.macaroons h2 {
    font-size: 45px;
    font-family: Tavolga, sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 142px;
    text-align: center;

}

.products {
    display: flex;
    justify-content: space-between;
}

.macaroon {
    width: 263px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    padding: 120px 21px 27px 21px;
    box-sizing: border-box;
    position: relative;
}


.macaroon-image img {
    position: absolute;
    display: block;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    bottom: 195px;
    margin-left: 15px;
    transition: all 0.5s ease;

}

.macaroon-image img:hover {
    transform: scale(1.1);
}

.macaroon-title {
    font-size: 18px;
    font-family: Tavolga, sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 26px;
}

.order {
    display: flex;
    justify-content: space-between;

}

.price {
    max-width: 58px;
    text-align: left;
    font-size: 15px;
    font-family: Gilroy, sans-serif;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    line-height: 1.9;


}

.order .btn {
    background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    width: 130px;
    vertical-align: middle;
    text-align: center;
    padding: 19px;
    font-size: 16px;
    font-family: Gilroy, sans-serif;

}

.order-macaroons {
    background-color: #ffefef;
    padding: 96px 0 120px 0;
    position: relative;
}

.order-macaroons .container {
    display: flex;
    justify-content: space-between;

}

.animation-left img {
    position: absolute;
    display: block;
    margin-top: 41px;
    margin-left: -55px;
    animation: updown 3s ease infinite;
}

.order-macaroons-image {
    display: block;
    position: relative;
    margin-top: 75px;
    margin-right: 163px;
}

.order-macaroons-title {
    max-width: 406px;
    display: block;
    position: relative;
    margin-right: 166px;
}


.order-macaroons-title h2 {
    font-size: 45px;
    font-family: Tavolga, sans-serif;
    color: rgb(51, 25, 7);
    text-align: left;
    margin-bottom: 41px;
}

.order-macaroons-text {
    font-size: 18px;
    font-family: Gilroy, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.556;
    text-align: left;
    margin-bottom: 24px;
}

.order-macaroons-span {
    font-size: 18px;
    font-family: Gilroy Bold, sans-serif;
    font-weight: bold;
    color: rgb(18, 10, 6);
    line-height: 4.444;
    text-align: left;
}

.order-macaroons-span {
    font-size: 18px;
    font-family: Gilroy, sans-serif;
    color: rgb(18, 10, 6);
    font-weight: bold;

}

.order-macaroons-form-input {
    border-width: 1px;
    border-color: rgb(130, 19, 40);
    border-style: solid;
    border-radius: 30px;
    width: 294px;
    height: 60px;
    background-color: #ffefef;
    font-size: 15px;
    font-family: Gilroy, sans-serif;
    font-weight: bold;
    color: rgb(138, 25, 46);
    box-sizing: border-box;
    outline: none;
    padding: 23px;
    margin-bottom: 15px;
}

.order-macaroons-form-input::placeholder {
    color: #760c22;
    font-family: GilroyBolt, sans-serif;
    font-weight: bold;
}

.order-macaroons-form .btn {
    border-radius: 30px;
    background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    width: 294px;
    height: 60px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Gilroy, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 20px;
    vertical-align: middle;
    text-align: center;
}

.animation-right img {
    position: absolute;
    display: block;
    margin-top: 477px;
    margin-left: -207px;
    animation: updown 2.5s ease infinite;
}

.footer {
    background-color: #c0707c;
    padding: 80px 0 60px 0;

}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;

}

.footer-logo-image img {
    margin-bottom: 19px;
}

.footer-rights {
    font-size: 12px;
    font-family: Gilroy, sans-serif;
    color: rgb(227, 172, 180);
}

.footer-instagram {
    margin-left: 60px;
}

.footer-instagram-image {
    text-align: center;
}

.footer-instagram-image img {
    margin-bottom: 15px;
}

.footer-instagram-text {
    font-size: 16px;
    font-family: Gilroy, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}

.present {
    border-radius: 50%;
    box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
    width: 90px;
    height: 90px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
}

.present-text {
    display: none;
    position: fixed;
    font-size: 15px;
    font-family: GilroyMedium, sans-serif;
    color: rgb(119, 10, 29);
    line-height: 1.333;
    max-width: 172px;
    height: 64px;
    text-align: left;
    border-width: 2px;
    border-color: rgb(119, 10, 29);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(254, 239, 238);
    padding: 12px 10px 14px 10px;
    bottom: 40px;
    right: 140px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}
.present-text::before,
.present-text::after {
    content: '';
    position: absolute;
    left: 20px; bottom: -20px;
    border: 20px solid transparent;
    border-left: 20px solid #feefee;

}

.present-text::before {
    border-color: transparent transparent transparent rgb(119, 10, 29);
    right: -22px;
    z-index: 9;
}

.present-text::after {
    border-color: transparent transparent transparent rgb(254, 239, 238); /* цвет фона плашки */
    right: -20px;
    z-index: 10;
}
.present-info:hover .present-text {
    display: block;
}

/*.present-triangle {*/
/*    display: none;*/
/*    clip-path: polygon(0 0, 50% 50%, 0% 100%);*/
/*    width: 15px;*/
/*    height: 15px;*/
/*    position: fixed;*/
/*    bottom: 65px;*/
/*    right: 124px;*/
/*    background-color: rgb(119, 10, 29);*/
/*    border-width: 2px;*/
/*    border-color: rgb(119, 10, 29);*/
/*    border-style: solid;*/
/*}*/

/*.present-triangle:before {*/
/*    content: '';*/
/*    width: 13px;*/
/*    height: 13px;*/
/*    background: #ffefef;*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: 1px;*/
/*    left: -1px;*/
/*    clip-path: polygon(0 0, 50% 50%, 0% 100%);*/
/*}*/

/*.present-info:hover {*/
/*    display: block;*/
/*}*/
/*.present-info:hover .present-triangle {*/
/*    display: block;*/
/*}*/
.circle-pulse {

}

.circle-pulse::after,
.circle-pulse::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(119, 10, 29);
    border-radius: 50%;
    left: 180px;
    bottom: 100px;
    display: block;
    animation: pulse 3s linear infinite;
    z-index: 0;
    overflow-x: hidden;
}

.circle-pulse::after {
    animation-delay: 0.5s;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    100% {
        transform: scale(3.5);
        opacity: 0;
    }
}

@keyframes updown {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(30%);
    }

    100% {
        transform: translateY(-10px);
    }
}

.burger {
    display: none;
}

.close {
    display: none;
}


.error-input {
    color: red;
    margin-bottom: 10px;
    font-size: 15px;
    margin-left: 25px;
    display: none;
}

input.error {
    border: 2px solid red;
}

/* Затемнение фона и центрирование */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* затемнение */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* чтобы было поверх всего */
}

/* Сам лоадер - розового цвета, можно сделать спиннер или круг */
.loader {
    width: 50px;
    height: 50px;
    border: rgb(119, 10, 29);
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Анимация вращения */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#thankYouBlock {
    display: none; /* изначально скрыт */
    position: absolute;
    top: 59%;
    left: 67%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 2px solid rgb(119, 10, 29);
    padding: 20px;
    box-shadow: 0 0 15px rgb(119, 10, 29);
    font-size: 20px;
    z-index: 9999;
    text-align: center;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

