
// Фоновые цвета главных блоков первого уровня
@color-header-bg: #ecb4bc;
@color-main-bg: #eab3ba;
@color-advantages-bg: #ffefef;
@color-macaroons-bg: #eab5bc;
@color-order-macaroons-bg: #ffefef;
@color-footer-bg: #985962;