// variables.less

// Фоновые цвета главных блоков первого уровня
@color-header-bg: #eba8b1;
@color-main-bg: #eba8b1;
@color-advantages-bg: #ffefef;
@color-macaroons-bg: #eba8b1;
@color-order-macaroons-bg: #ffefef;
@color-footer-bg: #c0707c;

// Цвета текста
@color-text-white: rgb(255, 255, 255);
@color-text-dark-brown: rgb(51, 25, 7);
@color-text-dark-red: rgb(119, 10, 29);
@color-text-pink-light: rgb(227, 172, 180);
@color-text-pink-dark: rgb(130, 19, 40);
@color-text-order-macaroons: rgb(18, 10, 6);
@color-placeholder: #760c22;

// Фоны кнопок
@btn-gradient-start: rgb(113, 8, 30);
@btn-gradient-end: rgb(215, 72, 92);

// Рамки инпутов
@input-border-color: rgb(130, 19, 40);

// Рамки товаров
@product-border-color: rgb(255, 255, 255);

// Кружки преимуществ (фон)
@advantages-circle-bg: rgb(130, 19, 40);
